POSTGRES_DB=infralab
POSTGRES_USER=infralab_user
POSTGRES_PASSWORD=CHANGE_ME_strong_password
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=CHANGE_ME_repl_password
REDIS_PASSWORD=CHANGE_ME_redis_password
APP_SECRET_KEY=CHANGE_ME_random_secret_key
APP_ENV=production
APP_DEBUG=false
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=CHANGE_ME_grafana_password
GF_SERVER_ROOT_URL=http://YOUR_VM_IP/grafana/
AUTHENTIK_SECRET_KEY=CHANGE_ME_authentik_secret_very_long_string
AUTHENTIK_POSTGRESQL__HOST=postgres-primary
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__USER=infralab_user
AUTHENTIK_POSTGRESQL__PASSWORD=CHANGE_ME_strong_password
AUTHENTIK_REDIS__HOST=redis
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
ALERT_EMAIL_TO=your_email@gmail.com
ACR_LOGIN_SERVER=infralab.azurecr.io
ACR_USERNAME=infralab
ACR_PASSWORD=CHANGE_ME
